//
body{
    background-color: lightblue;

    #container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1, h2{
            color: #ffff;
        }
    }
}

