body {
  background-color: lightblue;
}

body #container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body #container h1,
body #container h2 {
  color: #ffff;
}

